@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');
    /*font-family: 'Kanit', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
    /*font-family: 'Audiowide', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--background);
    font-family: 'Kanit', sans-serif;
}

body, .workspace, .time, .horaAtual {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

/*  Timer    */
.horaAtual {
    margin-top: 50px;
    width: 60vw;
    height: 20vw;

    font-size: 8vw;
    background-color: var(--button-background);
    border-radius: 8vw;
    font-family: 'Audiowide', sans-serif;

    transition: all 0.2s linear;
}

/*   Navegação   */
.nav {
    margin-top: 50px;
    width: 80vw;

    display: flex;
    justify-content: space-between;
}

.nav div{
    width: 280px;
    height: 80px;
    margin: 8px;
    padding: 8px;

    border-radius: 9vw;
    font-size: 1.2vw;
    
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--button-background);
}

/*  box da navegação    */
.box-function {
    width: 90%;
    height: 400px;
    margin: 50px 0px;

    border-radius: 40px;
    background-color: var(--background-selected);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.horaAtualNavSelected {
    width: 40vw;
    height: 10vw;

    font-size: 4vw;
    border-radius: 4vw;
}

.nav .buttonSelected {
    background-color: var(--hover-button-background);
}


.box-function .cronometro {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.box-function .alarme {
    width: 100px;
    height: 100px;
    background-color: rgb(38, 0, 255);
}

.box-function .calculadoraDeTempo {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 238, 0);
}

.sair {
    width: 100px;
    height: 50px;

    font-weight: 700;
    border-radius: 19px;
    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 50px;
    right: 50px;
}






.none {
    display: none;
}